@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-backcolor:#60492C;
  --main-hover-color:#A9804D;
  --shadow:rgba(0, 0, 0, 0.3215686275);
  --catogory-header:#82724E;
  --card-product:#60492C;
  --product-outstanding--backcolor:red;
  --product-detail--backcolor:#A20021;
}

*, ul, ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure, p {
  margin: 0px;
}

a {
  text-decoration: none;
}

html, body {
  font-family: "Raleway", sans-serif;
  background-color: #f5ebe2;
}

main {
  margin-top: 50px;
}

.overlay {
  width: 100%;
  background: var(--shadow);
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-info {
  padding: 10px 5px;
  background-image: url("../assets/main/images/mark-champs-Id2IIl1jOB0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.header-info .logo {
  width: 100px;
  aspect-ratio: 1/1;
  height: auto;
  overflow: auto;
  border-radius: 15px;
}
.header-info .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-search {
  width: 50%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  border: 1px solid gray;
}
.header-search input {
  font-size: 1em;
  border: none;
  margin-left: 10px;
  width: 100%;
  outline: none;
}
.header-search img {
  display: inline-block;
  width: 40px;
}

.header-contact li {
  list-style-type: none;
  color: white;
  font-weight: 600;
  padding: 5px;
}

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  background-color: var(--main-backcolor);
}

.footer-content {
  margin-top: 2vh;
  margin-bottom: 3vh;
  margin-left: 2vw;
  margin-right: 2vw;
  color: #fff;
}
.footer-content h5 {
  margin-bottom: 5px;
}
.footer-content ul {
  list-style: none;
}
.footer-content a {
  color: inherit;
}

#footerMedia {
  display: flex;
  justify-content: space-between;
}
#footerMedia li {
  display: inline-block;
  background-color: #fff;
}
#footerMedia .icon-image {
  width: 30px;
  height: auto;
  aspect-ratio: 1/1;
  background-color: var(--main-backcolor);
}
#footerMedia .icon-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.navbar--customized {
  background-color: var(--main-backcolor);
}
.navbar--customized.sticky-top {
  top: -1px;
}
.navbar--customized .navbar-collapse {
  flex-grow: 0;
}
.navbar--customized .nav-link {
  font-weight: 600;
  color: white;
}
.navbar--customized .nav-link:focus {
  color: yellow;
}
.navbar--customized .nav-link:hover {
  background-color: var(--main-hover-color);
  color: white;
}
.navbar--customized .navbar-nav .nav-link.show {
  color: yellow;
}
.navbar--customized .dropdown-menu {
  background-color: var(--main-backcolor);
}
.navbar--customized .dropdown-item {
  font-weight: 600;
  color: white;
}
.navbar--customized .dropdown-item:hover {
  color: white;
  background-color: var(--main-hover-color);
}
.navbar--customized .navbar-toggler {
  color: yellow;
  border: 1px solid white;
}
.navbar--customized .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger1.svg?color=ffffff");
}

.nav-path {
  text-align: center;
}

.button-link {
  text-decoration: none;
  display: inline-block;
  background-color: var(--main-backcolor);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.button-link:hover {
  background-color: var(--main-hover-color);
}

.product-list-container {
  margin-top: 5vh;
}

.product-relation-section, .product-related-section {
  margin-top: 50px;
}

.product-relation-header-container {
  text-align: center;
}

.product-relation-header, .product-related-header {
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 3px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 10px;
}

.product-relation-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 5px;
}

.product-outstanding-header {
  background-color: var(--product-outstanding--backcolor);
  color: #fff;
}

.product-related-section {
  margin-bottom: 20px;
}

.product-related-header {
  background-color: var(--product-detail--backcolor);
  color: #fff;
}

.product-thumbnail {
  width: 100%;
  aspect-ratio: 1/1;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: auto;
}
.product-thumbnail img {
  width: 100%;
  object-fit: cover;
}

.carousel-control-prev-icon--customized {
  background-image: url("../assets/main/images/chevron-left-solid.svg");
}

.carousel-control-next-icon--customized {
  background-image: url("../assets/main/images/chevron-right-solid.svg");
}

/*Productos relacionados y destacados*/
.card-product-containter {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-product-relation {
  width: 300px;
  height: auto;
  text-align: center;
  padding: 8px 8px;
  border-radius: 10px;
}
.card-product-relation div {
  padding-top: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black;
  background-color: #fff;
}
.card-product-relation.card-product-outstanding {
  background-color: var(--product-outstanding--backcolor);
  color: white;
}
.card-product-relation.card-product-related {
  background-color: var(--product-detail--backcolor);
  color: white;
}

/*Tarjetas en lista de productos de una categoria determinada ej camas*/
.card-product-list {
  color: white;
  height: auto;
  text-align: center;
  padding: 4px 4px;
}
.card-product-list a {
  display: block;
  background-image: linear-gradient(to right, #cf9f83 0%, #a68775 100%);
  padding: 7px 7px;
  border-radius: 10px;
}
.card-product-list div {
  color: black;
  background-color: #fff;
  padding-top: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/*Ficha Producto*/
.card-product-detail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  height: 300px;
  background-color: var(--product-detail--backcolor);
  color: white;
  height: auto;
  padding: 8px 8px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
}
.card-product-detail .card-product-detail-thumbnail {
  width: 50%;
  min-width: 150px;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: auto;
}
.card-product-detail .card-product-detail-thumbnail img {
  width: 100%;
  object-fit: cover;
}
.card-product-detail > div {
  width: 50%;
  color: black;
  background-color: #fff;
  padding-top: 10px;
  padding-left: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-product-detail p {
  line-height: 2;
  font-weight: 500;
}

.card-product-description {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}
.card-product-description p {
  margin-bottom: 10px;
}
.card-product-description h4 {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.category-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.category-container .category-header-container {
  text-align: center;
}
.category-container .category-header-container .category-header {
  display: inline-block;
  text-align: center;
  background-color: var(--catogory-header);
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-bottom: 10px;
  padding: 3px;
  margin: 10px auto;
}
.category-container .catetory-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.category-container .catetory-group .category-option {
  width: 400px;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}

#bedCategory {
  background-image: url("../assets/main/images/bed-main.jpeg");
}

#lightTableCategory {
  background-image: url("../assets/main/images/light-table.jpeg");
}

#diningRoomCategory {
  background-image: url("../assets/main/images/dining-rom.jpeg");
}

#sideBarCategory {
  background-image: url("../assets/main/images/side-board.jpeg");
}

/*Boton seguinos en Instagram*/
#follow-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}
#follow-section img {
  width: 50px;
  aspect-ratio: 1/1;
  height: auto;
  display: inline-block;
}

#follow-button {
  display: inline-block;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 3px;
  font-size: 2em;
  width: 358px;
}

#bedOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
  column-gap: 20%;
  margin-top: 50px;
  margin-bottom: 40px;
}
#bedOptions label, #bedOptions select {
  display: block;
}
#bedOptions label {
  margin-bottom: 5px;
}

#contactForm {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 500px;
  margin: 30px auto;
  background-color: #473144;
  padding: 10px 5px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 5px rgba(39, 40, 40, 0.347);
}

#contactForm .vertical-item * {
  display: block;
  width: 100%;
  margin-bottom: 3px;
}

#contactForm .vertical-item * {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

#contactForm .vertical-item input, #contactForm .vertical-item select {
  font-size: 1em;
  border: 1px solid black;
  border-radius: 5px;
  overflow: auto;
  height: 40px;
}

#contactForm .vertical-item textarea {
  font-size: 1em;
  border: 1px solid black;
  border-radius: 5px;
  overflow: auto;
}

#contactForm .vertical-item textarea, input, select {
  outline: none;
}

#contactForm .vertical-item textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 2px #87b9eb;
}

#contactForm label {
  color: #fff;
}

#contactForm .send-container {
  text-align: right;
}

#contactForm input[type=submit] {
  font-size: 1em;
  font-weight: 500;
  padding: 5px;
}

#contactForm .two-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

#genderOptions label:nth-child(n+2) {
  margin-left: 10px;
}

#stateContainer {
  width: 30%;
}

#contactCityContainer {
  width: 65%;
}

#companySection {
  margin: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.company-section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.company-section p {
  margin-left: 10px;
  margin-right: 10px;
}

.company-thumbnail {
  max-width: 400px;
  aspect-ratio: 1/1;
  height: auto;
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

.company-thumbnail figcaption {
  background-color: var(--main-backcolor);
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.company-thumbnail-left {
  margin-right: 10px;
  clear: left;
  float: left;
}

.company-thumbnail img {
  width: 100%;
  object-fit: cover;
}

.company-thumbnail-right {
  margin-left: 10px;
  clear: right;
  float: right;
}

.company-name {
  font-style: italic;
  font-weight: bold;
  color: brown;
}

/*# sourceMappingURL=styles.css.map */
