#bedOptions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    column-gap: 20%;
    margin-top: 50px;
    margin-bottom: 40px;
    label, select{
        display: block;
    }
    label{
        margin-bottom: 5px;
    }
}