@use '../utilities/variables' as v;
@use '../utilities/mixins';

.contact-container{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#contactInfo{
    background-color: white;
    border: 1px solid  #473144;
    border-radius: 15px;
       ul{
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            margin-top: 10px;
            padding-left: 0;
                li{
                    position: relative;
                    list-style: none;
                    display: list-item;
                    text-align: -webkit-match-parent;
                    margin-bottom: 20px;
                    word-break: break-all;
                }
        }
}

#contactForm{
    @include mixins.flex-display($flex-layout:v.$flex-layout-column,$align-items:initial, $row-gap: 20px);
    background-color: #473144;
    padding:10px 5px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 5px rgba(39, 40, 40, 0.347);
        .vertical-item{
            *{
                display: block;
                width: 100%;
                margin-bottom: 5px;
            }
            input, select{
                height: 40px;
            }
            input, select, textarea{
                font-size: 1em;
                border:1px solid black;
                border-radius: 5px;
                outline: none;
                overflow: auto;
                &:focus{
                box-shadow: 0 0 0 2px #87b9eb;
                }
            }
        }
        label{
            color: #fff;
        }

        .send-container{
            text-align: right;
        }

        input[type=submit]{
            font-size: 1em;
            font-weight: 500;
            padding: 5px;
        }

        .two-columns{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
        }

        #genderOptions label:nth-child(n+2) {
            margin-left: 10px;
        }
        
        #stateContainer{
            width: 30%;
        }
        
        #contactCityContainer{
            width: 65%;
        }

        @include mixins.mobile(){
            box-shadow: none;
            label{
                font-size: 2.4vh;
            }
            .vertical-item {
                input, select{
                    font-size: 2.4vh;
                }
                select option{
                    font-size: 1rem;
                }
            }
            .two-columns{
                @include mixins.flex-display($flex-layout:v.$flex-layout-column,$align-items:flex-start, $row-gap:10px,$flex-wrap:nowrap);
            }
            #stateContainer{
                width: 100%;
            }
            
            #contactCityContainer{
                width: 100%;
            }
        
            #genderOptions label:nth-child(n+2) {
                margin-left: 10px;
            }


        }
}
