@use '../base/base-classes';

.gallery-container{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 2vw;
    column-gap: 2vh;
        figure{
            @extend .thumbnail;
            border: 1px #cccccc solid;
            padding: 4px;
            margin: auto; 
            figcaption{
                background-color: var(--main-backcolor);
                color: white;
                font-style: italic;
                padding: 2px;
                text-align: center;
            }                
        }
}