.category-container{
    display: flex;
    flex-direction: column;
    gap: 100px;
    
}

.category-container a{
    text-decoration: none;
}

.category-header-container{
    text-align: center;
}

.category-header{
    display: inline-block;
    text-align: center; 
    background-color: var(--catogory-header);
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    padding: 3px;
    margin:10px auto;
}

.catetory-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}



.category-option{
    width: 400px;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}