@use '../utilities/mixins';

//Categorias
.category-container{
    display: flex;
    flex-direction: column;
    gap: 100px;

    .category-header-container{
        text-align: center;

        .category-header{
            display: inline-block;
            text-align: center; 
            background-color: var(--catogory-header);
            color: #fff;
            border-radius: 5px;
            margin-bottom: 10px;
            margin-bottom: 10px;
            padding: 3px;
            margin:10px auto;
        }
    }

    .catetory-group{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;

        .category-option{
            width: 400px;
            aspect-ratio: 1/1;
            background-size: cover;
            background-position: center;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 15px;
        }
    }
}

#bedCategory{
    background-image: url('../assets/main/images/bed-main.jpeg');
}

#lightTableCategory{
    background-image:url('../assets/main/images/light-table.jpeg');
}

#diningRoomCategory{
    background-image:url('../assets/main/images/dining-rom.jpeg');
}

#sideBarCategory{
    background-image:url('../assets/main/images/side-board.jpeg');
}

/*Boton seguinos en Instagram*/
#follow-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:100px;
        img{
            width: 50px;
            aspect-ratio: 1/1;
            height: auto;
            display: inline-block;
        }
}

#follow-button{
    display: inline-block;
    background-color: black;
    color:white;
    text-align: center;
    border-radius: 10px;
    padding: 3px;
    font-size: 2em;
    width: 358px;
}

