@use 'variables';

//Este mixin solo lo uso para que se acomode la imagen de la ficha de producto
//Ver bed.html
@mixin tablet {
    @media screen and (max-width: 768px) {
        @content
    }
};

@mixin mobile{
    @media screen and (max-width: 576px) {
        @content
    }
};

@mixin flex-display($flex-layout, $align-items:center,$justify-items: center, $justify-content:null,$gap:null, $column-gap:null,$row-gap:null,$flex-wrap:wrap){
    display: flex;
    @if $flex-layout==variables.$flex-layout-column{
        flex-direction: column;
    }@else{
        flex-direction: row;    
    }

    @if $justify-content!=null{
        justify-content: $justify-content;
    }

    justify-items:$justify-items;
    align-items: $align-items;
    flex-wrap: $flex-wrap;

    @if $gap!=null{
        gap:$gap;
    }

    @if $row-gap!=null{
        row-gap: $row-gap;
    }

    @if $column-gap!=null{
        row-gap: $row-gap;
    }



}