@use '../base/base-classes';

.footer{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(180px, 1fr));
    background-color: var(--main-backcolor);
}

.footer-content{
    margin-top: 2vh;
    margin-bottom: 3vh;
    margin-left: 2vw;
    margin-right: 2vw;
    color: #fff;
        h5{
            margin-bottom: 5px;
        }
        ul{
            list-style: none;
        }
        a{
            color: inherit;
        }
}

#footerMedia{
    display: flex;
    justify-content: space-between;

    li{
        display: inline-block;
        background-color: #fff;
    }
    
    .icon-image{
        @extend .square-thumbnail;
        width: 30px;
        background-color:var(--main-backcolor);
            img{
                object-position: center;
            }
    }   
}
