@use '../utilities/variables' as v;
@use '../utilities/mixins';
@use '../base/base-classes';

.header-info{
    @include mixins.flex-display($flex-layout:v.$flex-layout-row,$justify-content:space-around);
    padding: 10px 5px;
    background-image: url('../assets/main/images/mark-champs-Id2IIl1jOB0-unsplash.jpg');
    background-size: cover;
    background-position: center;
        .logo{
            @extend %thumbnail;
            width: 100px;
            aspect-ratio: 1/1;
            border-radius: 15px;
                img{
                    height: 100%;
                }        
        };
    @include mixins.mobile(){
        @include mixins.flex-display($flex-layout:v.$flex-layout-column,$row-gap:2vh);
    }
}

.header-search{
    @include mixins.flex-display($flex-layout:v.$flex-layout-row,$flex-wrap:nowrap);
    width: 50%;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    border:1px solid gray;
        input{
            font-size: 1em; 
            border: none;
            margin-left: 10px;
            width: 100%;
            outline: none;        
        }
        
        img{
            display: inline-block;
            width: 40px;        
        }

    @include mixins.mobile(){
        width: 100%;
    }
}

.header-contact{
        li{
            list-style-type: none;
            color:white;
            font-weight: 600;
            padding: 5px;
        }
    @include mixins.mobile(){
        display: none;
    }
}


