%thumbnail{
    height: auto;
    overflow: auto;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
}

%square-thumbnail{
    @extend %thumbnail;
    aspect-ratio: 1/1;
}
