*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 0.8fr 5fr repeat(5,1fr);
    grid-template-rows: 200px auto auto 200px;
    grid-template-areas:
    "header header header header header header header"
    "nav section-1 section-1 section-1 section-1 aside aside"
    "nav section-2 section-2 section-2 section-2 aside aside"
    "footer footer footer footer footer footer footer"
    ;
    row-gap: 1%;
    column-gap: 1%;
    justify-items: center;
    align-items: start; 
}

header{
    background-color:yellow;
    grid-area: header;
    align-self: center;
}
nav{
    background-color: brown;
    grid-area: nav;
}
.section-1{
    background-color: cornflowerblue;
    grid-area: section-1;
}
.section-2{
    background-color: rgb(69, 97, 148);
    grid-area: section-2;
}
aside{
    background-color: chartreuse;
    grid-area: aside;
}
footer{
    background-color: darkgreen;
    grid-area: footer;
}

.header-content, .section-1-content,  .section-2-content,
.aside-content, .footer-content .menu {
    width: 100%;
}

.menu{
    width: 100%;
    list-style: none;
    color: white;
}


@media (max-width:375px){
    body{
        grid-template-columns:none;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px auto auto auto auto 200px;
        grid-template-areas:
        "header header header"
        "nav nav nav"
        "section-1 section-1 section-1"
        "section-2 section-2 section-2"
        "aside aside aside"
        "footer footer footer";    ;
    }

    .menu{
        display: flex;
        column-gap: 5px;
    }
    
}


